<div
  class="zeropact-widget-styles widget-container"
  id="widget-container"
  data-shop-id="{{ shop.id }}"
>
  <div class="zeropact-widget-styles zeropact-widget-styles cta-container">
    <input type="checkbox" id="compensate-checkbox" />
    <label
      class="zeropact-widget-styles checkbox-label"
      id="offset-label"
      for="compensate-checkbox"
    ></label>
  </div>
  <div class="zeropact-widget-styles main-content">
    <div class="zeropact-widget-styles primary-text">
      Compensate my order's CO2 emissions
    </div>
    <div class="zeropact-widget-styles secondary-text">
      <div class="zeropact-widget-styles powered-by">
        Powered by
        <img
          id="powered-by-img"
          src="https://zeropact-docs.s3.eu-west-1.amazonaws.com/horizontal-logo.png"
          height="18"
          width=""
          loading="lazy"
        />
      </div>
      <div class="zeropact-widget-styles know-more-cta" id="know-more-cta">
        Know more
      </div>
    </div>
  </div>
</div>
